table.center {
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 3rem;
}
table {
    font-family: 'Raleway', sans-serif;

 }
th {
    text-align: centre;
    background-color: rgb(74, 166, 192);
    padding: 5px 10px;
    font-size: 1.1rem;
    color: aliceblue;
}

tr {
    font-size: 1.1rem;
    border-width: 0 0 20px 0;
}

.tableCells {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}


.selectTable {
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
    color: rgb(39, 64, 83)
}

.selectTable  > table {
    max-width: 80%;
    max-height: 100%;

}

.quizTableName {
    text-align: left;
    padding: 0 0 0 5px;

}