@import url(https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap);

.previewContainer{
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: auto;
}

.previewContainer > table {
    max-width: 80%;
    max-height: 100%;
}

.previewContainer > tr, td {
    /* border: 1px solid #ddd; */
    text-align: centre;
    /* padding: 5px 20px; */
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

th {
    text-align: centre;
    background-color: rgb(74, 166, 192);
    padding: 5px 10px;
    font-size: 1.1rem;
    color: aliceblue;
}

tr {
    font-size: 1.1rem;
    border-width: 0 0 20px 0;
}

.cellsNormal {
    background-color: rgba(255,255,255,0.2);
}

.cellsButtons {
    background-color: transparent;
    padding: 0 0 0 5px;
}


.tdQuestion {
    text-align: left;
    padding: 0 0 0 5px;
}

.correctAnswerColor {
    color: rgb(45, 141, 45);
}

.wrongAnswerColor {
    color: rgb(175, 33, 33);
}

.previewFootNote {   
    text-align: center;
}

.previewFootNote > p {
    margin: 0;
    font-size: 1rem;
    word-spacing: 5px;}

.rowBtnEdit{
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    padding: 8px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 5rem;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.rowBtnDelete{
    background-color: white; 
    color: black; 
    border: 2px solid #d64949;
    padding: 8px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 5rem;
    /* margin: 4px 2px; */
    cursor: pointer;
}

.rowBtnEdit:hover{
    background-color: #65d368;
    color: white;

}

.rowBtnDelete:hover{
    background-color: rgb(199, 53, 53);
    color: white;

}

