.createQuizContainer {
    min-height: 100vh;
    padding-top: 10vh;
    overflow: scroll;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(88,82,170,1) 26%, rgba(162,162,170,1) 61%, rgba(0,212,255,1) 96%, rgba(0,212,255,1) 100%);

}

.createQuizpage {
    height: 150vh;
    width: 100%;
    margin-left: 10vw; /*fix later*/

}

.createQuizNavContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.createQuizTab{
    color: aliceblue;
    padding: 1rem 1rem 0.25rem 1rem;
    border-radius: 1em 1em 0 0;

}

.previewQuizTab{
    color: aliceblue;
    padding: 1rem 1rem 0.25rem 1rem;
    border-radius: 1em 1em 0 0;
}

.createFormContainer{
    padding: 2em 0 2em 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 0em 1em 1em 1em;
    /* padding-bottom: 10vh; */
    color: aliceblue;
}

.tabActive{
    background-color: rgb(32, 108, 128);
}

.tabInactive{
    background-color: rgb(74, 166, 192);
}