body {
    background-image: url('../../assets/Bkgd60.png');
    /* display: flex; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;

    /* background-repeat: no-repeat;
    background-attachment: fixed;   */
    /* background-size: cover; */
    color: black;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    width: 1440px;
    height: 1024px;

  }

  .landingDiv {
    /* display: flex; */
    text-align: center;
  }



