@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap>);

.appHeader {
    background-color: #e46821;
    font-size: 4rem;
    font-family: 'Acme', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    height: 100px;

}

.Q-logo {
  border: none;
  outline: none;
  width: 10%;
  font-family: 'Acme', sans-serif;

  font-size: 4rem;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, rgba(50,4,4,1) 0%, rgba(110,7,7,1) 32%, rgba(196,199,100,1) 86%, rgba(229,230,189,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tablink {
    background-color: #e46821;
    color: white;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.8rem;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    width: 25%;
  }

  .item {
    width: min-content;
    padding: 10px;
    background-color: rgba(111,41,97,.3);
    display: inline-block;
    vertical-align: middle
  }

  .logoutTab {
    background-color: #e46821;
    border: none;
    color: white;
    font-family: 'Acme', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 0.5em;
    padding: 16px 16px;
    width: 25%;
  }

  .logoutBtn {
    background-color: white; 
    border-radius: 0.5rem;
    border: 2px solid #5f5c5c;
    color: black; 
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: 1.5em;
    padding: 6px 3px;
    width: 4.8rem;
  }

  .logoutBtn:hover{
    background-color: #5f5c5c;
    color: white;

}

  .tablink:hover {
    background-color: #db8f63;
    color: white;
    box-shadow:-2px 0px 2px 0px rgba(0,0,0,0.2);
    transition: background-color .2s ease-in, color .2s ease-in;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }


.createButtonActive {
  background-color: rgba(0,212,255,1); 
  color: rgba(2,0,36,1);
  cursor: not-allowed;
  pointer-events: none;
}

.takeButtonActive {
  background-color: rgba(197,185,247,1);
  color: rgba(56,31,111,1);
  cursor: not-allowed;
  pointer-events: none;
}

.qmButtonActive {
  background-color: rgba(229,230,189,1); 
  color: rgba(82,84,12,1);
  cursor: not-allowed;
  pointer-events: none;
}