/* 
.buttonNavCls {

} */

.logoclass {
    height: 10rem;

  }

  .NavBar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #16348c;
    text-align: left;
    font: size 30;


  }

