@import url(https://fonts.googleapis.com/css2?family=Acme&display=swap>);

.appHeader {
    height: 100px;
    margin-top: 10px;
    font-size: 4rem;
    display: flex;
    background-color: #e46821;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.tablink {
    background-color: #e46821;
    color: white;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 1.8rem;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    width: 33.33%;
  }
  
  .tablink:hover {
    background-color: #db8f63;
    color: white;
    box-shadow:-2px 0px 2px 0px rgba(0,0,0,0.2);
    transition: background-color .2s ease-in, color .2s ease-in;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 100%
  }

.createButtonActive {
  background-color: rgba(0,212,255,1); 
  color: rgba(2,0,36,1);
  cursor: not-allowed;
  pointer-events: none;
}

.takeButtonActive {
  background-color: rgba(197,185,247,1);
  color: rgba(56,31,111,1);
  cursor: not-allowed;
  pointer-events: none;
}

.qmButtonActive {
  background-color: rgba(229,230,189,1); 
  color: rgba(82,84,12,1);
  cursor: not-allowed;
  pointer-events: none;
}