.quizManagerContainer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(78, 62, 62);
    overflow: auto;
    min-height: 84vh;
    padding-top: 50px;
    background: none;
    /* background: rgb(82,84,12); */
    /* background: linear-gradient(0deg, rgba(82,84,12,1) 0%, rgba(141,144,37,1) 27%, rgba(196,199,100,1) 61%, rgba(229,230,189,1) 96%, rgba(229,230,189,1) 100%); */
}

.createQuizContainer {
    padding: 0;
    min-height: 22vh;
    padding-top: 3vh;
    /* background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(88,82,170,1) 26%, rgba(162,162,170,1) 61%, rgba(0,212,255,1) 96%, rgba(0,212,255,1) 100%); */
}

.createQuizpage {
    height: auto;
    width: 100%;
    margin-left: 10vw; /*fix later*/
}

.createFormContainer{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 0 1rem 0;
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 0em 1em 1em 1em;
    /* padding-bottom: 10vh; */
    color: aliceblue;
}

.tabActive{
    /* background-color: rgb(32, 108, 128); */
    color: rgb(4, 57, 70);
    background: none;
    box-shadow: inset 0 0 0 500px rgba(255,255,255,0.2);
}


.correctAnswerColor {
    color: green;
}

.incorrectAnswerColor{
    color: red;
}


.buttonAdd {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    font-size: 16px;
    margin: 5px 20px 0 0;
    padding: 8px 8px;
    text-align: center;
    border-radius: 8px;
    width: 12em;
  }
    .buttonAdd:hover {
        background-color: #008CBA;
        color: white;
    }
  
.buttonSubmit {
    background-color: white; 
    border: 2px solid #4CAF50;
    color: black;
    padding: 8px 8px;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 12em;
}
    .buttonSubmit:hover {
        background-color: #4CAF50;;
        color: white;
    }


.buttonBack {
    background-color: white; 
    border: 2px solid #474747;
    color: black;
    padding: 8px 8px;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 12em;
}
    .buttonBack:hover {
        background-color: #474747;;
        color: white;
    }
    
.buttonCancel {
    background-color: white; 
    border: 2px solid #ac0000;
    color: black;
    padding: 8px 8px;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    width: 12em;
}
    .buttonCancel:hover {
        background-color: #ac0000;;
        color: white;
    }

  
  